export(collaborate)
export(edit.collaborativeDoc)
export(knit)
export(knit.collaborativeDoc)
export(load)
export(load.collaborativeDoc)
export(load.default)
export(source)
export(source.collaborativeDoc)
export(source.default)
export(summary.collaborativeDoc)
