S3method(edit,collaborativeDoc)
S3method(knit,collaborativeDoc)
S3method(load,collaborativeDoc)
S3method(load,default)
S3method(print,collaborativeDoc)
S3method(source,collaborativeDoc)
S3method(source,default)
S3method(summary,collaborativeDoc)
export(collaborate)
export(knit)
export(load)
export(source)
